{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Избранные авторы</h1>
    {% if user.is_authenticated %}
      {% include 'posts/includes/switcher.html' %}
    {% endif %}
    {% for post in page_obj %}
      {% include 'posts/includes/card_post.html' %}
      <a href="{% url 'posts:post_detail' post.id %}">Подробная информация</a><br>
      {% if post.group %}
        <p>Группа: <a href="{% url 'posts:group_list' post.group.slug %}">{{ post.group }}</a></p>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}