{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  Пост {{ post.text|truncatechars:30 }}
{% endblock  %}    
{% block content %}
  <div class="container py-5">
    <div class="row">
      {% include 'posts/includes/card_post.html' %}
      {% if post.author == request.user %}
        <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}"> 
          Редактировать запись 
        </a>    
      {% endif %}
      {% include 'posts/includes/add_comment.html' %}
    </div> 
  </div>
{% endblock %} 