{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author.username }}{% endblock %}
{% block content %}
  <div class="container py-5">        
    <h1>Все посты пользователя {{ author.username }}</h1>
    <h3>Всего постов: {{ author.posts.count }}</h3>
    <h5>Подписчиков: {{ author.following.count }}</h5>
    <h5>Подписан: {{ author.follower.count }}</h5>
    {% if user.is_authenticated and user.username != author.username  %}
      {% if following  %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
        <a
          class="btn btn-lg btn-primary"
          href="{% url 'posts:profile_follow' author.username %}" role="button"
        >
          Подписаться
        </a>
      {% endif %}
    {% endif %}
    <article>
    <br>
      {% for post in page_obj %}
        {% include 'posts/includes/post_card.html' with post_group=True post_detail=True %}
      {% endfor %}
    </article>    
    {% include 'posts/includes/paginator.html' %}
  </div>
{% endblock %}